.blur {
    background-image: url('./../../../public/img/summary-bg.jpg');
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.summary-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-banner {
    background-image: url('../../../public/img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-banner>div {
    background-color: rgba(28, 26, 48, 0.35);
}


.my-btn {
    transition: 0.4s;
}

.my-btn:hover {
    transform: scale(1.1);
}